
@{
    ViewBag.Title = "Registration";
}


<div class="form form-body form-body-post">
    <div class="wrapper">
        <h2>Registration Complete</h2>
        <hr />
        <br />

        <div class="alert-success">
            <strong>Message: </strong> @ViewBag.Message
        </div>
</div>
</div>